<form method="post" action="/questions">
  <input type="text" placeholder="Title" name="title"><br>
  <textarea placeholder="Enter Question Body" name="body"></textarea><br>
  <input type="submit" value="Submit">
</form>
