<form class='answer-form' method="post" action="/questions/<%= question_id %>/answers">
  <textarea placeholder="Enter Answer Body" name="content"></textarea><br>
  <input type="submit" value="Submit">
</form>
